<extend name="./Common/main" />
<block name="customCss">
    <link rel="stylesheet" type="text/css" href="{$cssUrl}/business.css">
</block>
<block name="mainContent">
    <div id="div_body">
        <div id="body_outer">
            <div id="container">
                    <div class="business_left">

                        <include file="Business/m_searchbusiness"/>
                        <div class="mt1">
                        <include file="Business/m_businesspicture"/>
                        </div>
                        <div class="mt1">
                        <include file="Business/m_businessmap"/>
                        </div>
                    </div>
                    <div class="business_right">
                        <include file="Business/m_businessdetail"/>
                    </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="lat" value="{$business.lat}"/>
    <input type="hidden" id="lng" value="{$business.lng}"/>
</block>
<block name="customJs">
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=<?php echo C('MAP_AK') ?>" ></script>
    <script type="text/javascript" src="{$jsUrl}/common.js"></script>
    <script type="text/javascript">
        $(function() {
            var x = $("#lng").val() ;
            var y = $("#lat").val();

            var pointX = x ? x : false;
            var pointY = y ? y : false;
            Common.bindMap(pointX, pointY);

        });

    </script>
</block>