<extend name="./Common/main" />
<block name="customCss">
    <link rel="stylesheet" type="text/css" href="{$cssUrl}/business.css">
    <style type="text/css">
        .white {
            padding-left:64px;
        }
        .text_wrap {
            padding-top:20px;
        }
        .input label {
            color: #333;
            font-family: "sans-serif";
        }
        .text_wrap .input label {
            margin-left:0px;
        }
        .input {
            line-height: 28px;;
        }
    </style>
</block>
<block name="mainContent">
    <div id="div_body">
        <div id="body_outer">
            <div id="container">
                <div class="business_left">
                    <include file="Business/m_searchbusiness"/>
                </div>
                <div class="business_right" style="margin-left:227px;border:none;">
                    <div class="businesslist_wrap">
                        <div class="orderBy">
                            <span style="color: Red; font-size: medium; font-weight: bold;margin-left:10px;padding-right:200px;">所有商户</span>
                            <span style="padding-right:120px;">默认排序
                                <img class="jsOrderBy" data-sort="1" data-order="1" width="8" height="5" style="cursor: pointer;"src="{$imgUrl}/JTx.gif" alt="">
                            </span>
                            <span style="padding-right:120px;">
                                <span style="margin-right:4px;">最新加盟</span>
                                <span><img class="jsOrderBy" data-sort="2" data-order="2" width="8" height="5" style="cursor: pointer;margin-top:-13px;"src="{$imgUrl}/JTs.gif" alt=""></span>
                                <span><img class="jsOrderBy" data-sort="1" data-order="2"width="8" height="5" style="cursor: pointer;margin-left:-11px;margin-top:6px;"src="{$imgUrl}/JTx.gif" alt=""></span>

                            </span>
                            <span >
                                <span style="margin-right:4px;">点击人气</span>
                                <span><img class="jsOrderBy" data-sort="2" data-order="3" width="8" height="5" style="cursor: pointer;margin-top:-13px;"src="{$imgUrl}/JTs.gif" alt=""></span>
                                <span><img class="jsOrderBy" data-sort="1" data-order="3" width="8" height="5" style="cursor: pointer;margin-left:-11px;margin-top:6px;"src="{$imgUrl}/JTx.gif" alt=""></span>

                            </span>
                        </div>
                        <include file="Business/m_businesslist"/>
                        <include file="Business/m_searchpage"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="customJs">
    <script type="text/javascript" src="{$jsUrl}/common.js"></script>
    <script type="text/javascript" src="{$jsUrl}/business.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#JsGoPage").on("click", function() {
                var url = '{$currentUrl}';
                var page = $("#gopage").val();
                url += "&page="+page;
                window.location.href = url;
            })
            $(".jsOrderBy").on("click", function() {
                var orderBy = $(this).attr("data-order");
                var sort = $(this).attr("data-sort");
                var url = '{$currentUrl}';
                url +="&orderby="+orderBy+"&sort="+sort;
                window.location.href = url;
            })
        })
    </script>
</block>