<volist name="lists" id="list">
<div class="business_list">
<div class="business_pic">
    <a href="{$baseUrl}/business/business?bid={$list['id']}&cityId={$cityId}"><img src="{$baseUrl}/{$list['picture']}" width="70px" height="70px" style="margin-left:2px;"/>
    </a>
</div>
<div class="business_base">
    <div class="line_base">
        <a href="{$baseUrl}/business/business?bid={$list['id']}&cityId={$cityId}">
            商户名称：{$list['name']}
        </a>
    </div>
    <div class="line_base">河北一卡通推荐消费商家</div>
    <div class="line_base">被访问次数：</div>
</div>
    <div class="business_contact oranger">
        <a href="javascript:;" onclick="return alert('功能暂未开通')">我要咨询</a>
        <a href="javascript:;" onclick="return alert('功能暂未开通')">我要反馈</a>
        <a href="javascript:;" onclick="return alert('功能暂未开通')">我要收藏</a>
    </div>
    <div class="hr_red"></div>
</div>
</volist>