<div class="right_block_title_1">
<span class="white">查找商户</span>
</div>
<div class="right_block_title_2"></div>
<div class="font01">
    <div class="text_wrap">
     <form id="searchBusiness" action="javascript:;">
    <div class="input">
        <label>商家名称：</label>
        <input type="text" name="name"/>
    </div>
    <div class="input">
        <label>所属行业：</label>
        <select name="industry">
            <option value="0">-所有行业-</option>
            <volist name="industry" id="in">
                <option value="{$in['id']}">{$in['name']}</option>
            </volist>
        </select>
    </div>
    <div class="input">
        <label>商家地址：</label>
        <input type="text" name="address"/>
    </div>
    <div class="input">
        <label>选择城市：</label>
        <select name="city" id="cityId" autocomplete="off">
            <volist name="city" id="ci">
                <option <if condition="$cityId eq $ci['id']"> selected="selected"</if> value="{$ci['id']}">{$ci['name']}</option>
            </volist>
        </select>
    </div>
    <div class="input">
        <label>选择区县：</label>
        <select name="district" id="districtId">
            <option value="0">所有区县</option>
            <volist name="district" id="dis">
                <option value="{$dis['id']}">{$dis['name']}</option>
            </volist>
        </select>
    </div>
    <div class="input">
        <label>所属商圈：</label>
        <select name="circle" id="circleId">
            <option value="0">所有商圈</option>
            <volist name="circle" id="cir">
                <option value="{$cir['id']}">{$cir['name']}</option>
            </volist>
        </select>
    </div>
        <div class="input">
            <div class="sou" id="JsSearchBusiness"></div>
        </div>
     </form>
    </div>
</div>
<div class="right_title_bottom">

</div>