<extend name="./Common/main" />
<block name="customCss">
    <link rel="stylesheet" type="text/css" href="{$cssUrl}/business.css">
    <style type="text/css">
        .white {
            padding-left:64px;
        }
        .text_wrap {
            padding-top:20px;
        }
        .input label {
            color: #333;
            font-family: "sans-serif";
        }
        .text_wrap .input label {
            margin-left:0px;
        }
        .input {
            line-height: 28px;;
        }
        .business_list {
            margin-bottom: 15px;
        }
        .businesslist_wrap {
            border: none;
            margin-right : 0;
        }
        .white {
            color :black;
            padding-left : 0;
            font-weight: 100;
        }
        .business_list {
            margin-right : 9px;
        }
        .business_left {
            margin-top : -5px;
        }

    </style>
</block>
<block name="mainContent">
    <div id="div_body">
        <div id="body_outer">
            <div id="container">
                <div class="business_left">
                    <?php $siteTitle = "快速查找" ?>
                    <include file="Business/m_searchsite"/>
                    <div class="mt1">
                        <?php $titleRight="热门网点" ?>
                        <include file="Business/m_newsite"/>
                    </div>
                </div>
                <div class="business_right" style="margin-left:227px;border:none;">
                    <div class="businesslist_wrap">
                        <include file="Business/m_sitelist"/>
                        <include file="Business/m_listpage"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="customJs">
    <script type="text/javascript" src="{$jsUrl}/common.js"></script>
    <script type="text/javascript" src="{$jsUrl}/business.js"></script>
</block>