<extend name="./Common/main" />
<block name="customCss">
    <link rel="stylesheet" type="text/css" href="{$cssUrl}/card.css"/>
    <style>
        .buy_input {
            margin-left : 30px !important;
            line-height: 37px;
        }
        .buy_left {
            width : 400px;
        }
    </style>
</block>
<block name="mainContent">
    <div id="div_body">
        <div id="body_outer">
            <div id="container">
                <div id="outer">
                    <div class="lang_img">
                        <if condition="!empty($product['pic_describe'])">
                            <img alt="" src="{$baseUrl}/{$product['pic_describe']}">
                            <else/>
                            <img alt="" src="{$imgUrl}/在线购买蓝卡.jpg">
                        </if>
                    </div>
                    <if condition="$pay eq 1">
                        <include file="Card/m_pay_etc"/>
                        <else/>
                        <include file="Card/m_buy_etc"/>
                    </if>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="customJs">
    <script type="text/javascript" src="{$jsUrl}/card.js"></script>
    <script type="text/javascript" src="{$jsUrl}/common.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#jsBuySubmit").on("click", function() {
                if($(this).hasClass("disable")) {
                    return false;
                }
                var data = Common.toJson("#buyForm");
                var validate = [
                    {
                        'target': data.name,
                        'required': {'flag': true, 'msg': '请输入姓名'},
                        'maxLength': {'flag':true, 'max': 20, 'msg': '不超过20个字符'},
                        'minLength': {'flag':true, 'min': 2, 'msg': '至少2个字符'},
                        'targetError': "#nameError"
                    }, {
                        'target': data.mobile,
                        'required': {'flag': true, 'msg': '请输入手机号'},
                        'mobile': {'flag': true, 'msg': '手机号格式不正确'},
                        'targetError': "#mobileError"
                    },{
                        'target': data.idcard,
                        'idCard': {'flag': true, 'msg': '身份证格式不正确'},
                        'targetError': "#idcardError"
                    },{
                        'target': data.email,
                        'email': {'flag': true, 'msg': '邮箱格式有误'},
                        'targetError': "#emailError"
                    },{
                        'target': data.address,
                        'required': {'flag': true, 'msg': '邮寄地址必填'},
                        'maxLength' : {'flag' : true, 'msg' : '不能超过150个字符', 'max':150},
                        'targetError': "#addressError"
                    },{
                        'target': data.IAgree,
                        'required': {'flag': true, 'msg': '本网站只允许协议同意者注册', 'warning' : 'alert'}
                    }
                ];
                var errorNum = Validate.validate(validate);
                if(errorNum > 0) {
                    return false;
                }else{
                    var param = {
                        'url' : baseUrl + "/" + "card/buy",
                        'data' : data
                    }
                    $(this).addClass("disable");
                    Common.request(param, callback);
                }
            })
            var callback = function(obj) {
                $("#jsBuySubmit").removeClass("disable");
                if(obj.status == RESPONSE_OK) {
                    window.location.href=baseUrl +"//" + obj.result;
                }else if(obj.status == RESPONSE_CHECK_FAIL) {
                    alert('信息填写不正确！');
                }else{
                    alert('网络错误，请重试！');
                }
            }
        })
    </script>
</block>