<style>
    .buy_input {
        line-height: 23px;
        clear : both;
    }
</style>
<div class="scent3">
    <div class="buy_left">
        <div class="buy_title">
        </div>
        <div class="buy_info">
            <form id="buyForm" action="javascript:void(0);">
                <input type="hidden" name="type" value="{$type}"/>
                <input type="hidden" name="productId" value="{$product['id']}"/>
                <div class="buy_input"><div class="buy_label"><label>姓名：</label></div>
                    {$saleCard['customer_name']}
                </div>
                <div class="buy_input"><div class="buy_label"><label>身份证号：</label></div>
                    {$saleCard['idcard']}
                </div>
                <div class="buy_input"><div class="buy_label"><label>手机号码：</label></div>
                    {$saleCard['tel']}
                </div>
                <div class="buy_input"><div class="buy_label"><label>短信验证：</label></div>
                    <input type="text" class="input_text" name="code">
                    <input type="submit" id="jsGetCode" class="buy_submit"value="免费获取" name="submit">
                </div>
                <div class="buy_input"><div class="buy_label"><label>邮寄地址：</label></div>
                    {$saleCard['address']}
                </div>
                <div class="buy_input"><div class="buy_label"><label>电子邮箱：</label></div>
                    {$saleCard['email']}
                </div>
                <div class="buy_input"><div class="buy_label"><label>卡片售价：</label></div>
                    {$saleCard['card_fee']}
                </div>
                <div class="buy_input"><div class="buy_label"><label>充值金额：</label></div>
                    {$saleCard['recharge_mount']}
                </div>
                <div class="buy_input"><div class="buy_label"><label>验证码：</label></div>
                    <input type="text" class="input_text" name="yzCode">
                    <img src="{$baseUrl}/code" class="imgCode"/>
                </div>
                <div class="buy_input"><div class="buy_label"><label>支付方式：</label></div>
                    <input type="radio" checked value="1"/><img style="height:28px;width:100px;" src="{$baseUrl}/public/img/ylzx.png" >
                </div>
                <div class="buy_input"><div class="buy_label"><label>合计：</label></div>
                    <span class="zhifu_mount">{$saleCard['recharge_mount'] + $saleCard['card_fee']}</span>元
                </div>

                <div class="buy_input"><div class="buy_checkbox">
                    <input type="submit" id="jsBuySubmit" class="buy_submit"value="支付" name="submit">
                </div>
                </div>
            </form>
        </div>
    </div>
    <div class="cardImg" >
        <div class="cardImgEtc" style="background-image: url('{$baseUrl}/public/img/ETC卡样.png')"></div>
        <div>
            注：成功购买后请客户持本人有效身份证件、机动车行驶证、ETC卡、设备安装券（ETC卡、设备安装券均为河北一卡通邮寄）、驾驶车辆到河北一卡通服务网点安装ETC电子标签
        </div>
    </div>
</div>