<style>
    .buy_input {
        line-height: 23px;
        clear : both;
    }
</style>
<div class="scent3">
    <div class="buy_left">
        <div class="buy_title">
        </div>
        <div class="buy_info">
            <form id="buyForm" action="javascript:void(0);">
                <input type="hidden" name="type" value="{$type}"/>
                <input type="hidden" name="productId" value="{$product['id']}"/>
                <div class="buy_input"><div class="buy_label"><label>姓名：</label></div>
                    {$saleCard['customer_name']}
                </div>
                <div class="buy_input"><div class="buy_label"><label>身份证号：</label></div>
                    {$saleCard['idcard']}
                </div>
                <div class="buy_input"><div class="buy_label"><label>手机号码：</label></div>
                    <span id="mobile">{$saleCard['tel']}</span>
                </div>
                <div class="buy_input"><div class="buy_label"><label>短信验证：</label></div>
                    <input type="text" class="input_text" name="code">
                    <input type="submit" id="jsGetCode" class="buy_submit"value="免费获取" name="submit">
                </div>
                <div class="buy_input"><div class="buy_label"><label>邮寄地址：</label></div>
                    {$saleCard['address']}
                </div>
                <div class="buy_input"><div class="buy_label"><label>电子邮箱：</label></div>
                    {$saleCard['email']}
                </div>
                <div class="buy_input"><div class="buy_label"><label>推荐人：</label></div>
                    {$saleCard['recommender']}
                </div>
                <div class="buy_input"><div class="buy_label"><label>卡片售价：</label></div>
                    {$saleCard['card_fee']}
                </div>
                <div class="buy_input"><div class="buy_label"><label>充值金额：</label></div>
                    {$saleCard['recharge_mount']}
                </div>
                <div class="buy_input"><div class="buy_label"><label>验证码：</label></div>
                    <input type="text" class="input_text" name="yzCode">
                    <img src="{$baseUrl}/code" class="imgCode"/>
                </div>
                <div class="buy_input"><div class="buy_label"><label>支付方式：</label></div>
                    <input type="radio" checked value="1" name="payType"/><img style="height:28px;width:100px;" src="{$baseUrl}/public/img/ylzx.png" >
                </div>
                <div class="buy_input"><div class="buy_label"><label>合计：</label></div>
                    <span class="zhifu_mount">{$saleCard['recharge_mount'] + $saleCard['card_fee']}</span>元
                </div>

                <div class="buy_input"><div class="buy_checkbox">
                    <input type="submit" id="jsPaySubmit" class="buy_submit"value="支付" name="submit">
                </div>
                </div>
            </form>
        </div>
    </div>
    <if condition="$type eq Home\Controller\CardController::ORANGE_CARD">
        <div class="cardImg" style="background-image: url('{$baseUrl}/public/img/橙卡卡样.png')">
        </div>
        <else/>
        <div class="cardImg"  style="background-image: url('{$baseUrl}/public/img/卡样2.png')">
        </div>
    </if>
</div>