<extend name="./Common/main"/>
<block name="mainContent">
    <div id="div_body">
        <div id="body_outer">
            <div id="container">
                <div id="outer">
                    <div id="tab" class="tab_wrap">
                        <div id="record" class="tab_title record" data="1"></div>
                        <div id="balance" class="tab_title balance gray" data="2"></div>
                    </div>
                    <div id="tab_page" class="tab_page_wrap">
                        <div class="fl">
                        <div class="tab_page show" id="data1">
                            <form action="javascript:;" id="record_form">
                            <div class="input_wrap"><div class="input_label"><label>一卡通卡号：</label></div>
                                <input type="text" class="input_text" name="cardno">
                                <span id="cardnoError" class="buy_tip"></span>
                            </div>
                            <div class="input_wrap"><div class="input_label"><label>四位校验码：</label></div>
                                <input type="text" class="input_text" name="checkcode">
                                <span id="checkCodeError" class="buy_tip"></span>
                            </div>
                                <div class="input_wrap">
                                    <div class="input_label"></div>
                                    <input type="submit" id="jsRecordBtn" class="search_submit ml140"value="查询" name="submit">
                                </div>
                            </form>
                        </div>
                        <div class="tab_page balance_wrap" id="data2">
                            <form action="javascript:;" id="balance_form">
                            <div class="input_wrap"><div class="input_label"><label>一卡通卡号：</label></div>
                                <input type="text" class="input_text" name="cardno">
                                <span id="cardnoBalanceError" class="buy_tip"></span>
                            </div>
                            <div class="input_wrap"><div class="input_label"><label>四位校验码：</label></div>
                                <input type="text" class="input_text" name="checkcode">
                                <span id="codeBalanceError" class="buy_tip"></span>
                            </div>
                                <div class="input_wrap">
                                    <div class="input_label"></div>
                                    <input type="submit" id="jsBalanceBtn" class="search_submit mar"value="查询" name="submit">
                                    <input type="submit" class="search_submit" value="关闭">
                                    </div>
                            </form>
                        </div>
                        </div>
                        <div class="fr">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="customJs">
    <script type="text/javascript" src="{$jsUrl}/common.js"></script>
    <script>
        $(function() {
            $(".tab_title").on("mouseenter", function() {
                var $sibling = $(this).siblings();
                $sibling.addClass("gray");
                $(this).removeClass('gray');
                $(".tab_page").removeClass("show");
                var data = $(this).attr('data');
                $("#data"+data).addClass('show');
            });

            //查询交易记录
            $("#jsRecordBtn").on("click", function() {
                if($(this).hasClass("disable")) {
                    return false;
                }
                var data = Common.toJson("#record_form");
                var validate = [
                    {
                        'target': data.cardno,
                        'required': {'flag': true, 'msg': '请输入卡号'},
                        'targetError': "#cardnoError"
                    }, {
                        'target': data.checkcode,
                        'required': {'flag': true, 'msg': '请输入校验码'},
                        'targetError': "#checkCodeError"
                    }
                ];
                var errorNum = Validate.validate(validate);
                if(errorNum > 0) {
                    return false;
                }else{
                    var param = {
                        'url' : baseUrl + "/" + "card/record",
                        'data' : data
                    }
                    $(this).addClass("disable");
                    Common.request(param, recordCallBack);
                }
            });

            //查询余额
            $("#jsBalanceBtn").on("click", function() {
                if($(this).hasClass("disable")) {
                    return false;
                }
                var data = Common.toJson("#balance_form");
                var validate = [
                    {
                        'target': data.cardno,
                        'required': {'flag': true, 'msg': '请输入卡号'},
                        'targetError': "#cardnoBalanceError"
                    }, {
                        'target': data.checkcode,
                        'required': {'flag': true, 'msg': '请输入校验码'},
                        'targetError': "#codeBalanceError"
                    }
                ];
                var errorNum = Validate.validate(validate);
                if(errorNum > 0) {
                    return false;
                }else{
                    var param = {
                        'url' : baseUrl + "/" + "card/balance",
                        'data' : data
                    }
                    $(this).addClass("disable");
                    Common.request(param, balanceCallBack);
                }
            });

            var recordCallBack = function() {
                $("#jsRecordBtn").removeClass('disable');
            }
            var balanceCallBack = function() {
                $("#jsBalanceBtn").removeClass('disable');
            }
        })
    </script>
</block>