#container {
    border: 0 solid Red;
    width: 100%;
}
#outer {
    border: 0 solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 980px;
}
.lang_img img {
    border: 1px solid #9b9a9a;
    float: left;
    height: 420px;
    position: relative;
    width: 355px;
}
.scent3 {
    border: 1px solid #9b9a9a;
    float: left;
    height: 420px;
    margin-left: 10px;
    position: relative;
    width: 610px;
}
.input_text {
    border: 1px solid #9b9a9a;
    height: 21px;
    width: 124px;
}
.input_text_big {
    border: 1px solid #9b9a9a;
    height: 49px;
    width: 177px;
}
.cardImg {
    float: right;
    height: 158px;
    margin-right: 20px;
    margin-top: 50px;
    width: 166px;
    background-repeat: no-repeat;
}

.cardImg.big {
    heigth : 200px;
    width : 186px;
}
.cardImgEtc {
    height : 150px;
    background-repeat: no-repeat;
}
.buy_info {
    margin-top : 20px;
}
.buy_left {
    float: left; width: 350px;
}
.buy_title {
    width : 177px;
    height : 31px;
    margin-left :30px;
    background-image: url("../img/在线购卡（银联）.png");
    margin-top : 20px;
}
.buy_input {
    line-height: 30px;
    margin-left : 10px;
}
.buy_input .buy_label {
    float:left;
    width :70px;
    text-align: right;
}
.buy_input .buy_checkbox {
    margin-left : 70px;
}
.buy_radio {
    color: #ff0000;
    width : 270px;
    padding-left : 70px;
}
.buy_radio label {
    margin-right : 5px;
}
.buy_submit {
    width: 124px;
    height: 27px;
    background-color: red;
    color: white;
}
.buy_etc_title {
    height : 80px;
    border-bottom: 1px solid #9b9a9a;
    margin-top:15px;
    margin-left : 20px;
    padding-left : 10px;
    width : 386px;
}

.buy_etc_1400 {
    width:44px;
    font-weight: bolder;
    color:Black;
    background-color:#ccc;
    text-decoration:line-through;
}
.buy_etc_1350 {
    font-size:20pt;
    width:60px;
    font-weight:bolder;
    color:Red;
    background-color:#ccc;
}
.buy_etc_discount {
    color:Red;
    font-size:20px;
}
.buy_etc_tip {
    color : red;
    line-height: 50px;
    padding-left : 63px;
}
.buy_info textarea {
    border : 1px solid #9b9a9a;
}
.buy_tip {
    color : red;
    margin-left : 8px;
}

.pt_ul {
    font-size: 14px;
    line-height: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    text-indent: 2em;
}
b {
    font-weight: bolder;
}
.pt_sp {
    color: #555;
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 15px;
    text-indent: 4em;
    width: 900px;
}
.zhifu_mount {
    color:Red;
    font-size:16px;
    font-weight:bold;
}