@charset "utf-8";
/*标签样式*/
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0;}
body{font:12px "宋体","Arial Narrow",HELVETICA;background:#FFFFFF;color:#333;-webkit-text-size-adjust:100%;overflow-y:hidden;}
a{text-decoration:none;color:#787878;outline:none;}
a:hover{text-decoration:none;}
em{font-style:normal;}
li{list-style:none;}
img{border:0;vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0;}
p{word-wrap:break-word;}

body {
    color: #333;
    font-family: "sans-serif";
    font-size: 12px;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

a {
    color: #333;
}
img {
    border: 0 none;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
}

h1, h2, h3, h4, h5 {
    font-size: 14px;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 16px;
}
h5 {
    font-size: 12px;
}

.clearboth {
    clear: both;
}
.wrap_header {
    border: 0 solid Red;
    height: 100px;
    margin: 0;
    width: 100%;
}

.header_outer {
    border: 0 solid black;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}

.header_logo {
    background-image: url("../img/logo.png");
    border: 0 solid Green;
    float: left;
    height: 58px;
    margin-top: 21px;
    position: relative;
    width: 224px;
}

#city {
    border: 0 solid Green;
    float: left;
    height: 58px;
    margin-left: 5px;
    margin-top: 30px;
    position: relative;
    width: 100px;
}

#city_list {
    width: 100px;
}
#city_list a {
    color: black;
    text-decoration: none;
}
.city_nav {
    color: #333;
    cursor: pointer;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    text-align: center;
}
.city_link {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid #f25000;
    cursor: pointer;
    display: none;
    font-family: 微软雅黑;
    font-weight: bold;
    height: 165px;
    text-align: left;
    width: 305px;
    z-index: 9999;
}
.city_hover {
    color: #f25000;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
}
.city_hovers {
    display: block;
    position: absolute;
}
.city_show {
    background: #e44424 url("../img/city_show.jpg") repeat scroll 0 0;
    color: White;
    cursor: pointer;
    height: 18px;
    line-height: 18px;
    padding: 5px;
}
.city_links {
    background: #f6f6f6 url("../img/bg05.jpg") repeat scroll 0 0;
    display: inline-block;
    font-size: 13px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    vertical-align: top;
    width: 60px;
}
.city {
    border: 0 solid Green;
    float: left;
    height: 58px;
    margin-left: 5px;
    margin-top: 30px;
    position: relative;
    width: 100px;
}

.tip {
    background-image: url("../img/top.png");
    height: 21px;
    width: 99px;
}

.tel_img {
    background-image: url("../img/top_tel.png");
    float: right;
    height: 53px;
    margin-top: 17px;
    outline: 0 solid black;
    width: 450px;
}

.navigation {
    background-color: #e60012;
    height: 38px;
    width: 100%;
}
.nav_outer {
    border: 0 solid black;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 985px;
}

.nav_ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: auto;
}
li.nav_li {
    float: left;
    font-size: 16px;
    height: 38px;
    text-align: center;
    width: 122px;
    border-left: 1px solid #970005;
}
li.nav_li:first-child {
    border-left :none;
}
.nav_li a {
    color: White;
    cursor: pointer;
    font-size: 16px;
}
.nav_block {
    background-color: #e60012;
    height: 38px;
    line-height: 38px;
    width: 122px;
}

.nav_in {
    height: 38px;
    width: 121px;
}

.div_bottom {
    border: 0 solid Orange;
    height: 122px;
    margin-top: 15px;
    position: relative;
    width: 100%;
    border-top : 3px solid #CC1319;
    color : #979797;
}
.wrap_bottom  {
    margin-left : 170px;
    margin-top : 10px;
}

.foot_nav {
    float : left;
    width : 430px;
}

.foot_span {
    margin-left : 17px;
}

a.link {
    color: #979797;
    line-height: 22px;
    overflow: hidden;
    text-align: center;
}

.foot_agency {
    float : right;
    margin-right : 210px;
}
.agency_img {
    background-image: url("../img/agency_logo.jpg");
    width : 138px;
    height : 42px;
    float : left;
}
.mall_img {
    background-image: url("../img/taoyou_logo.jpg");
    width : 138px;
    height : 42px;
    float : left;
}
.verify {
    margin-left : 23px;
    margin-top : -5px;
}
.verify_wrap {
    float : left;
    width : 135px;
}

.copyright_wrap {
    margin-left : 10px;
}
.copyright {
    border: 0 solid black;
    height: 20px;
    line-height: 20px;
    width: 450px;
    float:left;
}
.number {
    width: 450px;
    height: 20px;
    line-height: 20px;
    border: solid 0px black;
}

.subuse {
    border-right: 1px solid #d9d9d9;
    height: auto;
    position: fixed;
    right: 0;
    top: 175px;
    z-index : 100;
}
.subuse ul {
    width: 144px;
}
.subuse ul li {
    display: block;
    float: left;
    width: 270px;
}
.subuse ul li span.fl {
    background: none repeat scroll 0 0 #f08741;
    border-top: 1px solid #f08741;
    color: #ffffff;
    display: none;
    float: right;
    font-family: "微软雅黑";
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 110px;
}
.subuse ul li span.fl a {
    color: #ffffff;
}
.subuse ul li span.fl a:hover {
    text-decoration: underline;
}
.subuse ul li span.fl b {
    display: block;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    text-align: center !important;
}
.subuse ul li span.fl em {
    color: #ffffff;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 12px;
    line-height: 12px;
    text-align: center !important;
}
.subuse ul li span.fr {
    cursor: pointer;
    float: right;
}
.subuse ul li span.fl_img {
    border-left: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    width: 33px;
}
.go_to_top {
    border-bottom: 1px solid #d9d9d9;
}

.wal {
    background: #fff none repeat scroll 0 0;
    margin: 0 auto;
    overflow: hidden;
    width: 980px;
}

#div_body
{
    width: 100%;
    height: 100%;
    border: solid 0px Blue;
}

#body_outer
{
    border: solid 0px black;
    width: 980px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#row1
{
    width: 100%;
    height: 338px;
    border: solid 0px red;
    position: relative;
    float: left;
    overflow: hidden;
    margin-top: 15px;
    z-index : 101;
}

#row2
{
    position: relative;
    float: left;
    width: 980px;
    height: 200px;
    border: solid 0px Green;
    margin-top: 15px;
    z-index : 101;
}
#zsgun {
    background: #eee none repeat scroll 0 0;
    height: 200px;
    margin: auto;
    position: relative;
    width: 978px;
}
#row2_ul
{
    list-style: none; /* 去掉ul前面的符号 */
    margin: 0px; /* 与外界元素的距离为0 */
    padding: 0px; /* 与内部元素的距离为0 */
    width: auto;
}
#row2_ul li
{
    width: 240px;
    height: 200px;
    float: left; /* 向左漂移，将竖排变为横排 */
    text-align: center;
    pointer: cursor;
    outline: solid 0px Red;
}
.row2_card
{
    width: 240px;
    height: 200px;
    background-color: #eee;
    outline: solid 0px Green;
}
.img_card
{
    position: relative;
    float: left;
    height: 130px;
    outline: solid 0px Red;
    margin-left: 15px;
    margin-top: 20px;
}
.tip_card
{
    position: relative;
    float: left;
    width: 214px;
    height: 35px;
    outline: solid 0px Red;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 15px;
}
.card_name
{
    position: relative;
    float: left;
    outline: solid 0px Red;
    width: 100px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    color: black;
    font-size: 14px;
}
.buy_button
{
    position: relative;
    float: right;
    outline: solid 0px Red;
    width: 70px;
    height: 20px;
    margin-right: 21px;
}
.buy
{
    color: White;
    font-size: 14px;
}
.buy_div
{
    width: 85px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: red;
}
#row3
{
    position: relative;
    float: left;
    width: 100%;
    height: 124px;
    border: solid 0px Blue;
    margin-top: 15px;
    background-image: url('../img/980x124边框.png');
}
#row3_title
{
    position: relative;
    float: left;
    width: 204px;
    height: 117px;
    margin-left:5px;
    margin-top: 4px;
}
#row3_title_img
{
    float: left;
    width: 204px;
    height: 117px; /*background-image: url("../common/new_img/快捷服务/110x236标头.png");*/
    background-image: url("../img/117x204标头.png");
}
#row3_list
{
    position: relative;
    float: left;
    width: 762px;
    height: 117px;
    margin-top: 4px;
    margin-left: 1px;
}
#row3_ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}
#row3_ul li
{
    width: 127px;
    height: 117px;
    float: left;
    text-align: center;
    pointer: cursor;
    outline: solid 0px red;
}
.r3_mid
{
    margin-left: 6px;
}

#row4 {
    position: relative;
    float: left;
    width: 100%;
    height: 116px;
    border: solid 0px Blue;
    margin-top: 15px;
}

#row4_title {
    position: relative;
    float: left;
    width: 100%;
    height: 30px;
    background-image: url("../img/图标_29.png");
}
#row4_list {
    position: relative;
    float: left;
    width: 100%;
    height: 117px;
    margin-top: 5px;
}
#row4_ul {
    list-style: none; /* 去掉ul前面的符号 */
    margin: 0px; /* 与外界元素的距离为0 */
    padding: 0px; /* 与内部元素的距离为0 */
    width: auto;
}
#row4_ul li {
    width: 235px;
    height: 81px;
    float: left; /* 向左漂移，将竖排变为横排 */
    text-align: center;
    pointer: cursor;
    outline: solid 0px red;
}
.r4_mid {
    margin-left: 13px;
}

#row5 {
    position: relative;
    float: left;
    width: 100%;
    height: 251px;
    border: solid 0px Red;
    margin-top: 15px;
}
#row5_left {
    position: relative;
    float: left;
    width: 632px;
    height: 251px;
    border: solid 0px Red;
}

#row5_title1 {
    position: relative;

}

#zsgun {
    background: #eee none repeat scroll 0 0;
    height: 200px;
    margin: auto;
    position: relative;
    width: 978px;
}
a.hScrollPane_leftarrow {
    background: rgba(0, 0, 0, 0) url("../img/02.png") no-repeat scroll left top;
    cursor: pointer;
    display: block;
    height: 58px;
    left: 15px;
    position: absolute;
    top: 60px;
    width: 25px;
}
a.hScrollPane_rightarrow {
    background: rgba(0, 0, 0, 0) url("../img/01.png") no-repeat scroll left top;
    cursor: pointer;
    display: block;
    height: 58px;
    position: absolute;
    right: 15px;
    top: 60px;
    width: 25px;
}
#gundiv {
    display: inline;
    float: left;
    height: 200px;
    margin-left: 50px;
    overflow: hidden;
    padding-top: 22px;
    position: relative;
    width: 880px;
}
#gundiv ul {
    height: 200px;
    position: absolute;
    width: 10000px;
}
#gundiv li {
    float: left;
    height: 200px;
    margin-right: 17px;
    overflow: hidden;
    position: relative;
    width: 207px;
}
#gundiv li p {
    color: #000;
    font-size: 14px;
    height: 55px;
    line-height: 45px;
    overflow: hidden;
    text-align: center;
}
#gundiv li.zslion p {
    display: block;
}

/**首页商户促销**/
.store-wrapper {
    display: none;
}
.store-wrapper .left {
    float: left;
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 10px;
    padding-right: 2px;
    width: 258px;
    border: solid 0px Red;
}
.store-wrapper .right {
    background: url("../img/line4.jpg") repeat-y scroll 0 center transparent;
    float: left;
    height: 190px;
    margin-top: 10px;
    margin-left: 20px;
    overflow: hidden;
    padding-left: 5px;
    width: 302px;
    border: solid 0px Black;
}

.store-wrapper .info-title
{
    height: 21px;
    line-height: 21px;
}

.info-list
{
    line-height: 21px;
    margin: 2px 0 0;
    padding: 0;
}
#main-left .info-list li a {
    background: url("../img/dian03.jpg") no-repeat scroll 0 7px rgba(0, 0, 0, 0);
    display: block;
    padding-left: 30px;
}
a
{
    color: #726262;
    text-decoration: none;
}
.show
{
    display: block;
}

#news_ul
{
}
#news_ul li
{
    list-style: none outside none;
    text-align: left;
    line-height: 25px;
    padding-left: 10px;
    padding-right: 10px;
}
#news_ul li a
{
    background: url("../img/小三角.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
    color: #000;
    padding-left: 15px;
    font-size: 12px;
}
#news_list
{
    padding-top: 10px;
}

/***商户促销、新闻公告****/
#row5
{
    position: relative;
    float: left;
    width: 100%;
    height: 251px;
    border: solid 0px Red;
    margin-top: 15px;
}
#row5_left
{
    position: relative;
    float: left;
    width: 632px;
    height: 251px;
    border: solid 0px Red;
}
#row5_title1
{
    position: relative;
    float: left;
    width: 632px;
    height: 31px;
    outline: solid 0px Red;
}
#pro_title
{
    position: relative;
    float: left;
    width: 151px;
    height: 100%;
    background-image: url("../img/商家促销_03.png");
}
.pro_head
{
    background-image: url("../img/商户促销3.png");
}

.pro_type {
    position: relative;
    float: left;
    width: 96px;
    height: 100%;
    background-image: url("../img/商户促销3.png");
    cursor: pointer;
}
.pro_type div{
    margin-top : 7px;
    margin-left : 33px;
    font-size : 16px;
    font-family : "黑体";
    white-space:nowrap;
    overflow : hidden;
    color : #6C6C6C;
}

.pro_other
{
    background-image: url("../img/商户促销4.png");
}

.pro_head_hover {
    background-image: url("../img/商户促销1.png");
}
.pro_head_hover div {
    color : orange;
}
.pro_other_hover {
    background-image: url("../img/商户促销2.png");
}
.pro_other_hover div {
    color:orange;
}
#pro_more
{
    position: relative;
    float: left;
    width: 92px;
    height: 21px;
    background-image: url("../img/未选中_08.png");
    padding-top: 10px;
    padding-right: 5px;
    text-align: right;
}
#row5_pro
{
    position: relative;
    float: left;
    width: 624px;
    height: 217px;
    margin-left: 4px;
    margin-top: 2px;
    outline: solid 0px Red;
    background-image: url("../img/促销_03.png");
}
#pro_picture
{
    position: relative;
    float: left;
    width: 258px;
    height: 191px;
    background-image: url("../img/图片258x191.png");
    margin-top: 13px;
    margin-left: 13px;
    margin-right: 13px;
    outline: solid 0px Red;
}
#pro_list
{
    position: relative;
    float: left;
    width: 338px;
    height: 191px;
    outline: solid 0px black;
    border-left: dash 2px #666;
    margin-top: 13px;
}
#row5_right
{
    position: relative;
    float: left;
    width: 321px;
    height: 251px;
    margin-left: 23px;
    border: solid 0px Red;
}
#row5_title2
{
    position: relative;
    float: left;
    width: 321px;
    height: 31px;
    outline: solid 0px Blue;
    background-image: url("../img/官网首页新_05.png");
}
#row5_news
{
    position: relative;
    float: left;
    width: 319px;
    height: 214px;
    outline: solid 0px black;
    background-image: url("../img/文字底色.png");
    margin-top: 3px;
}

/**合作商家**/
#row6 {
    border: 0 solid Red;
    float: left;
    height: 176px;
    margin-top: 15px;
    position: relative;
    width: 100%;
}
#row6_title {
    background-image: url("../img/合作商家.png");
    float: left;
    height: 31px;
    position: relative;
    width: 100%;
}
#row6_list {
    float: left;
    height: 117px;
    margin-top: 5px;
    position: relative;
    width: 100%;
}
#row6_ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: auto;
}
#row6_ul li {
    border: 1px solid #aaa;
    float: left;
    height: 64px;
    margin: 4px 2px;
    outline: 0 solid Red;
    text-align: center;
    width: 157px;
}
.r6_img {
    background-image: url("../img/官网首页新(临时)_03.png");
    height: 64px;
    width: 157px;
}