
.indexFlashDiv {
    height: 427px;
    overflow: hidden;
    position: relative;
}
.indexFlash li {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;
}
.flashBtn {
    position: absolute;
    right: 53px;
    top: 293px;
    z-index: 10;
}
.flashBtn li {
    float: left;
    padding: 7px 0 0 10px;
}
.flashBtn img {
    border: 2px solid #89c8f7;
    cursor: pointer;
}
.flashBtn .liNow img {
    border: 2px solid #0c539d;
}
.indexFast {
    background: rgba(0, 0, 0, 0) url("../image/indexFast.gif") no-repeat scroll left 5px;
    height: 81px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 333px;
    width: 980px;
    z-index: 10;
}
.indexFast li {
    cursor: pointer;
    float: left;
    height: 81px;
    overflow: hidden;
    padding-top: 6px;
    position: relative;
    width: 196px;
}
.indexFast li a {
    display: block;
    height: 55px;
    outline: medium none;
}
.indexFast li .num {
    background: rgba(0, 0, 0, 0) url("../image/bg.png") no-repeat scroll left top;
    color: #fff;
    display: none;
    font-family: Arial;
    font-size: 50px;
    height: 81px;
    left: 38px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 44px;
    z-index: 10;
}
.indexFast li .num div {
    padding: 3px 0 0 6px;
}
.indexSiteBtn a {
    outline: medium none;
}
.indexSiteBtn .div0 {
    height: 51px;
    overflow: hidden;
}
.indexSiteBtn .div1 {
    background: rgba(0, 0, 0, 0) url("../image/tel.gif") no-repeat scroll left top;
    height: 112px;
    overflow: hidden;
}
.indexSiteBtn .list {
    padding-top: 36px;
}
.indexSiteBtn li {
    color: #8ebff4;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    height: 34px;
    overflow: hidden;
    padding-left: 80px;
}
.indexSiteBtn .div2 {
    height: 52px;
    overflow: hidden;
}
.sideFaq .list {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #9ac5f3 #9ac5f3;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    padding: 8px 0;
}
.sideFaq li {
    background: rgba(0, 0, 0, 0) url("../image/ico1.gif") no-repeat scroll 12px 12px;
    border-bottom: 1px solid #c4dcee;
    line-height: 1.4em;
    padding: 8px 9px 8px 29px;
}
.Application {
    height: 178px;
    overflow: hidden;
    padding: 16px 0 0 4px;
    width: 323px;
}
.Application ul {
    width: 120%;
}
.Application li {
    float: left;
    height: 83px;
    overflow: hidden;
    width: 92px;
}
.Application a {
    display: block;
    outline: medium none;
    overflow: hidden;
    padding-top: 59px;
    text-align: center;
    text-decoration: none;
    width: 48px;
}
.Application a:hover {
    text-decoration: none;
}
.Application .li_01 a {
    background: rgba(0, 0, 0, 0) url("../image/img.gif") no-repeat scroll 0 0;
}
.Application .li_02 a {
    background: rgba(0, 0, 0, 0) url("../image/img.gif") no-repeat scroll -92px 0;
}
.Application .li_03 a {
    background: rgba(0, 0, 0, 0) url("../image/img.gif") no-repeat scroll -184px 0;
}
.Application .li_04 a {
    background: rgba(0, 0, 0, 0) url("../image/img.gif") no-repeat scroll -275px 0;
}
.Application .li_05 a {
    background: rgba(0, 0, 0, 0) url("../image/img.gif") no-repeat scroll 0 -83px;
}
.Application .li_06 a {
    background: rgba(0, 0, 0, 0) url("../image/img.gif") no-repeat scroll -92px -83px;
}
.Application .li_07 a {
    background: rgba(0, 0, 0, 0) url("../image/img.gif") no-repeat scroll -184px -83px;
}
.Application .li_08 a {
    background: rgba(0, 0, 0, 0) url("../image/img.gif") no-repeat scroll -275px -83px;
}
.Application .li_01 a:hover {
    background: rgba(0, 0, 0, 0) url("../image/img.gif") no-repeat scroll 0 -167px;
}
.Application .li_02 a:hover {
    background: rgba(0, 0, 0, 0) url("../image/img.gif") no-repeat scroll -92px -167px;
}
.Application .li_03 a:hover {
    background: rgba(0, 0, 0, 0) url("../image/img.gif") no-repeat scroll -184px -167px;
}
.Application .li_04 a:hover {
    background: rgba(0, 0, 0, 0) url("../image/img.gif") no-repeat scroll -275px -167px;
}
.Application .li_05 a:hover {
    background: rgba(0, 0, 0, 0) url("../image/img.gif") no-repeat scroll 0 -250px;
}
.Application .li_06 a:hover {
    background: rgba(0, 0, 0, 0) url("../image/img.gif") no-repeat scroll -92px -250px;
}
.Application .li_07 a:hover {
    background: rgba(0, 0, 0, 0) url("../image/img.gif") no-repeat scroll -184px -250px;
}
.Application .li_08 a:hover {
    background: rgba(0, 0, 0, 0) url("../image/img.gif") no-repeat scroll -275px -250px;
}
.indexNews {
    height: 183px;
    overflow: hidden;
    padding-top: 11px;
}
.indexNews li {
    background: rgba(0, 0, 0, 0) url("../image/ico2.gif") no-repeat scroll 8px 12px;
    border-bottom: 1px solid #d5e6f2;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    padding-left: 22px;
}
.indexProduct {
    height: 243px;
    overflow: hidden;
    padding-top: 21px;
    width: 682px;
}
.indexProduct ul {
    width: 110%;
}
.indexProduct li {
    float: left;
    height: 124px;
    overflow: hidden;
    padding-left: 4px;
    width: 135px;
}
.indexProduct li .imgDiv {
    height: 90px;
    text-align: center;
    width: 122px;
}
.indexProduct li .imgDiv img {
    max-height: 90px;
    max-width: 120px;
}
.indexProduct .name {
    overflow: hidden;
    padding-top: 5px;
    text-align: center;
    width: 122px;
}
.searchLayer {
    background: rgba(0, 0, 0, 0) url("../image/searchLayer.png") no-repeat scroll left top;
    display: none;
    height: 132px;
    margin-left: -1px;
    margin-top: -2px;
    overflow: hidden;
    position: absolute;
    width: 230px;
    z-index: 50;
}
.searchLayer .name {
    color: #fff;
    height: 19px;
    padding: 62px 0 0 16px;
}
.searchLayer .form {
    padding-left: 14px;
}
.searchLayer .input1 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e5f4d1 -moz-use-text-color -moz-use-text-color #e5f4d1;
    border-image: none;
    border-style: solid none none solid;
    border-width: 2px 0 0 2px;
    float: left;
    height: 23px;
    line-height: 23px;
    margin-right: 4px;
    padding: 0 5px;
    width: 138px;
}
.searchLayer .btn1 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #338c37;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #006633;
    float: left;
    font-weight: bold;
    height: 25px;
    width: 55px;
}
.ExplainLayer {
    display: none;
    overflow: hidden;
    width: 980px;
}
.ExplainLayer .close {
    background: #0a3672 none repeat scroll 0 0;
    height: 25px;
    overflow: hidden;
    padding: 9px 12px 0 0;
    text-align: right;
}
.ExplainLayer .bg {
    background: #fff url("../image/bg1.gif") repeat-y scroll left center;
    min-height: 500px;
}
.helpNav .title {
    height: 46px;
    overflow: hidden;
    padding-top: 24px;
}
.helpNav li {
    background: rgba(0, 0, 0, 0) url("../image/helpNavBg1.gif") no-repeat scroll left 37px;
    height: 44px;
    overflow: hidden;
}
.helpNav a {
    background: rgba(0, 0, 0, 0) url("../image/helpNavBg2.gif") no-repeat scroll left top;
    color: #0c61bf;
    display: block;
    font-family: "微软雅黑";
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 28px;
    outline: medium none;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
}
.helpNav a:hover, .helpNav .a_now {
    background: rgba(0, 0, 0, 0) url("../image/helpNavBg2.gif") no-repeat scroll left bottom;
    color: #fff;
    text-decoration: none;
}
.help .title {
    background: rgba(0, 0, 0, 0) url("../image/ico3.gif") no-repeat scroll left 27px;
    border-bottom: 1px solid #3288e7;
    color: #0c60bf;
    font-family: "微软雅黑";
    height: 25px;
    margin-bottom: 6px;
    overflow: hidden;
    padding: 21px 0 0 15px;
}
.help .imgDiv {
    text-align: center;
}
.help .contentDiv {
    padding: 15px 0 30px;
}
.help .Vertical_scroll {
}
.help .content {
    line-height: 1.6em;
    overflow: hidden;
    padding-right: 10px;
    width: 645px;
}
.ExplainLayer2 {
    display: none;
    overflow: hidden;
    position: absolute;
    width: 980px;
}
.ExplainLayer2 .close {
    background: #0a3672 none repeat scroll 0 0;
    height: 25px;
    overflow: hidden;
    padding: 9px 12px 0 0;
    text-align: right;
}
.ExplainLayer2 .bg {
    background: #fff url("../img/bg1.gif") repeat-y scroll left center;
    min-height: 500px;
}
