
label{
    cursor: pointer;
}

/*清除浮动*/

.cf {
    *zoom: 1;
}
.cf:after {
    content: '';
    display: table;
    clear: both;
}
/*按钮样式*/
input[type=submit]{
    background: #f00;
    color: #fff;
    border: 0;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    padding: 0 10px;
}

/*主体宽度*/
.wrapContent{
    margin: 0 auto;
    width:980px;
}

.mt20{
    margin-top: 20px;
}

/***********************************充值***********************************/

/*充值页面左侧*/
.RechargeLeft{
    border: 1px solid #9b9a9a;
    width: 355px;
    height: 280px;
}

.RechargeRight{
    width: 610px;
    height: 280px;
    margin-left: 368px;
    border: 1px solid #9b9a9a;
}
.RechargeRight table{
    width: 410px;
    height: 260px;
    margin: 0;
    padding: 0;
    float: left;
    margin-top: 10px;
}
.RechargeName{
    width: 180px;
    height: 30px;
    border-radius: 8px;
    background: #eb7e1d;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-family: "微软雅黑";
    font-size: 16px;
    letter-spacing:3px;
}
.RechargeRight table input[type="submit"]{
    width: 110px;

}
.pay{
    width: 134px;
    margin-top: 100px;
    margin-right: 40px;
}
.pay img{
    width: 100px;
    height: 28px;
}
.pay span{
    margin: 10px 0;
    display: block
}

/***********************************绑定***********************************/

.BindingLeft{
    width: 335px;
    height: 455px;
    border: 1px solid #9b9a9a;
}
.BindingRight{
    margin-left: 348px;
    width: 630px;
    height: 455px;
    border: 1px solid #9b9a9a;
}
.BindingName{
    width: 100%;
    height: 40px;
}
.BindingName li{
    display: block;
    float: left;
    width: 180px;
    height: 30px;
    border-radius: 8px;
    margin: 10px 5px 0 10px;
    background: #eb7e1d;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-family: "微软雅黑";
    font-size: 14px;
    letter-spacing:3px;
    cursor: pointer;
}
.BindingBody{
    font-size: 12px;
}
.BindingBody table{
    width: 630px;
    border-collapse: collapse;
    border-spacing: 0;
    height: 388px;
}
.BindingBody table input[type="text"],.BindingBody table input[type="password"]{
    width: 210px;
}
.BindingBody table th{
    font-weight: normal;
    text-align: left;
    font-size: 16px;
    border-bottom: 1px solid #9b9a9a;
    line-height: 40px;
    height: 40px;
    width: 100%;
    text-indent: 1em;
    margin-bottom: 10px;
}
.BindingBody table td{
    padding: 4px;
}

/***********************************缴费***********************************/

.PaymentTit ul li{
    float: left;
    margin-left: 20px;
    height: 30px;
    line-height: 30px;
    border-radius: 8px;
    background: #a7a7a7;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-family: "微软雅黑";
    font-size: 16px;
    letter-spacing:3px;
}
.PaymentTit ul li a{
    display: block;
    padding: 0 30px;
    color: #fff;
    text-decoration: none;
}
.PaymentTit ul li.on , .PaymentTit ul li:hover{
    background: #eb7e1d;
}

.PaymentBox{
    margin: 50px 0 0 50px;
}
.PaymentBox table td{
    padding: 5px 0;
}
.PaymentBox table th{
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
}

.Mark{
    margin: 50px 50px  0 0;
}
.Note{
    color: red;
}



/***********************************购买***********************************/
.BuyLeft{
    width: 355px;
    height: 420px;
    border: 1px solid #9b9a9a;
}
.BuyBox{
    margin-left: 368px;
    width: 610px;
    height: 420px;
    border: 1px solid #9b9a9a;
}
.BuyBox table{
    width: 320px;
    margin: 20px 0 0 20px;
    float: left;
}
.BuyBox table td{
    padding: 4px;
}
.BuyBox table label{
    color: red;
}

.BuyTit{
    height: 30px;
    width: 180px;
    margin-left: 30px;
    border-radius: 8px;
    background: #eb7e1d;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-family: "微软雅黑";
    font-size: 16px;
    letter-spacing:3px;
    margin-bottom: 10px;
}

/***********************************etc***********************************/



.NewsBox{
    width: 355px;
    height: 200px;
    border: 1px solid #9b9a9a;
}
.NewsBoxTit{
    background: url("../images/newsbg.gif") repeat-x;
    width: 100%;
    height: 27px;
}
.NewsBoxTit h1{
    margin: 0;
    padding: 0;
    background: url("../images/newstit.gif") no-repeat;
    width: 220px;
    height: 27px;
    text-indent: -9999px;
    float: left;
}
.NewsMore a{
    line-height: 27px;
    color: #ffa500;
    padding: 0 5px;
    text-decoration: none;
}
.NewsList{
    margin-top: 5px;
}
.NewsList ul li{
    line-height: 20px;
}
.NewsList ul li a{
    background: url("../images/dian02.jpg") no-repeat left center;
    color: #000;
    text-decoration: none;
    padding-left: 15px;
    margin-left: 3px;
}
.NewsList ul li a:hover{
    color: red;
}



.EtcBuy {
    margin-left: 368px;
    width: 550px;
    height: 180px;
    border: 1px solid #9b9a9a;
    padding: 10px 30px;
}
.EtcTit{
    width: 180px;
    height: 30px;
    margin: 0 0 10px 40px;
    border-radius: 8px;
    background: #eb7e1d;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-family: "微软雅黑";
    font-size: 14px;
    letter-spacing: 1px;
}
.EtcBuy table{
    height: 150px;
}
.EtcBuy table input[type="submit"]{
    padding: 0 20px;
}
.EtcBuy table label{
    color: red;
}

.Branch{
    background: url("../images/etcbg.gif") repeat-x;
    width: 100%;
    height: 43px;
}
.Branch h1{
    text-indent: -9999px;
    background: url("../images/etctit.gif") no-repeat;
    width: 322px;
    height: 43px;
    margin: 0;
    padding: 0;
}
.BranchList{
    border: 1px solid #9b9a9a;
    width: 978px;
    padding-bottom: 20px;
}
.BranchList ul li{
    float: left;
    width: 30%;
    margin-left:2.5%;
    margin-top: 2.5%;
}


.BranchListBox{
    border: 1px dashed #9b9a9a;
    padding: 5px 15px;
    line-height: 2.5;
}
.size1of1{width: 100%}
.size1of4{width: 25%}
.size3of4{width: 75%}


.HelpLeft{
    width: 240px;
    margin-left: -100%;
}
.HelpBranch{
    width: 730px;
    margin-left: 250px;
}
.HelpBranchTit{
    border: 1px solid #ddd;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    padding: 10px;
}
.HelpBranchSearch{
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: -1px;
}
.HelpBranchSearch input[type="text"]{
    width: 160px;
    border: 1px solid #ddd;
}
.HelpBranchList{
    border: 1px solid #ddd;
    margin-top: -1px;
}
.HelpBranchList table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.HelpBranchList table th{
    background: #ddd;
    font-weight: normal;
    font-size: 14px;
}
.HelpBranchList table td{
    background: #efefef;
    text-align: center;
    color: #666;
}

.HelpBranchList table th,
.HelpBranchList table td {
    border: 2px solid #fff;
    padding: 8px 10px;
}


.HelpLeftTit{
    color: #fff;
    background: #b81b22;
    width: 240px;
    border-radius: 5px;
    height: 28px;
    line-height: 28px;
    font-weight: bold;
    font-size: 14px;
    text-indent: 2em;
}
.HelpLeftBox{
    width: 218px;
    margin-top: 5px;
    background: #efefef;
    border: 1px solid #ddd;
    padding: 10px;
}
.HelpLeftBoxList ul li{
    line-height: 28px;
    border-bottom: 1px dotted #d6d6d6;
}
.HelpLeftBoxList ul li a{
    background: url("../images/icon_li1.gif") no-repeat left center;
    padding-left: 15px;
    color: #274757;
    text-decoration: none;
}
.HelpLeftBoxList ul li a:hover{
    color: #3994c5;
}
.HelpLeMenu li{
    list-style: none;
}
.HelpLeMenu li +li{
    margin-top: 10px;
}
.HelpLeMenu li a{
    display: block;
    background: url("../images/helpmenu.gif") repeat-x;
    width: 210px;
    height: 34px;
    line-height: 34px;
    border-radius: 10px;
    border: 1px solid #ccc;
    text-align: center;
    color: #979797;
    text-decoration: none;
}