.news_left {
    float : left;
    width : 235px;
}


.news_right {
    margin-left : 250px;
    width : 745px;
    min-height : 200px;
}

.title_block {
    background-image: url("../img/lan04B1.jpg");
    width : 185px;
    float : left;
}

.title_box {
    background-color: #EFEFEF;
    width : 240px;
    margin-top : 5px;
}
.news_type {
    background-image: url("../img/annu.jpg");
    height : 26px;
    margin-top : 10px;
    margin-bottom: 10px;
    width : 210px;
    padding-top: 10px;
    text-align: center;
}
.news_type a,.help_menu_small {
    color: #979797;
    overflow: hidden;
}

.left_block_title_1 {
    background-image: url("../img/lan04B1.jpg");
    width : 204px;
    float : left;

}
.left_block_title_2 {
    background-image: url("../img/job2.jpg");
    width : 40px;
    margin-left : 204px;
    height : 30px;

}

#div_body {
    margin-top:20px;
}
.block_help {
    font-size:13pt;
    font-weight:bold;
    color:#FFFFFF;
    margin-left : 20px;
    line-height: 30px;
}

.title03 {
    color: #666;
    font-family: "宋体";
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}


.title_fujia {
    color: #666;
    font-family: "宋体";
    font-size: 12px;
    font-weight: normal;
    text-align : center;
    margin-top : 30px;
}
.title_fujia span {
    padding-right : 10px;
}
.news_content {
    padding : 15px 3px 10px 2px;
    display : inline-block;
}
.news_footer {
    text-align : center;
    font-weight: bold;
    margin: 30px auto;
}
.news_list_right {
    width : 730px;
    margin-left : 250px;
}
.breadcrumb {
    height : 24px;
    padding-top : 8px;
}
.nowType_left {
    padding-left : 30px;
}
.nowType_right {
    float : right;
    margin-right : 25px;
}
.news_list_wrap {
    margin : 20px auto 5px 10px;
}
.news_list_icon {
    background-image: url("../img/icon_li1.gif");
    width : 8px;
    height : 8px;
    float : left;
    margin-top : 8px;
}
.news_list_title {
    margin-left : 20px;
    color:#666
}
.new_list_div {
    line-height : 26px;
    margin-left : 15px;
}

.title_content {
    color: #666;
    font-family: "宋体";
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 25pt;
    text-align: justify;
}

.help_menu_big {
    display: inline-block;
}
.help_menu_small {
    float : right;
    background-image: url("../img/annu2.jpg");
    height : 21px;
    width : 120px;
    padding-top: 6px;
    text-align: center;
    clear: both;
    margin-bottom: 5px;
}