<extend name="./Common/main"/>
<block name="customCss">
    <link rel="stylesheet" type="text/css" href="{$cssUrl}/flash.css">
</block>
<block name="mainContent">
    <div id="div_body">
        <div id="body_outer">
            <div id="container">
                <div id="outer">
                    <div id="row1">
                        <div class="wal">
                            <div class="indexFlashDiv">
                                <div class="indexFlash">
                                    <ul>
                                        <volist name="carousels" id="carouseli">
                                            <li >
                                                <a target="_blank" href="{$carouseli.url}">
                                                <img alt="" src="{$baseUrl}/{$carouseli.picture}">
                                            </a>
                                            </li>
                                        </volist>
                                    </ul>
                                </div>
                                <div class="flashBtn">
                                    <ul>
                                        <volist name="carousels" id="carouseli" key="key">
                                            <if condition="$key eq 1">
                                                <li style="padding-top: 0px;" class="liNow">
                                                    <img width="44" height="28" alt="" src="{$baseUrl}/{$carouseli.picture}"></li>
                                                <else/>
                                                    <li style="padding-top: 7px;" class="liNow">
                                                        <img width="44" height="28" alt="" src="{$baseUrl}/{$carouseli.picture}"></li>
                                            </if>
                                        </volist>

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="row2">
                        <div id="zsgun">
                            <div id="gundiv" class="container2">
                                <ul>
                                    <volist name="products" id="pro">
                                        <li><a href="{$baseUrl}/card/index?type={$pro.url}" target="_blank">
                                            <img src="{$baseUrl}/{$pro.picture}" width="207" height="130" /></a>
                                            <p>
                                                <span style="float: left;">{$pro.name}</span> <span style="float: right;">
                                                   <a href="{$baseUrl}/card/index?type={$pro.url}" target="_blank">

                                                       <switch name="pro.op_type" >
                                                          <case value="3" break="1"> <img src="{$imgUrl}/bd.png" style="margin-top: 7px; width: 91px; height: 26px;" /></case>
                                                          <case value="2" break="1"> <img src="{$imgUrl}/buy2.png" style="margin-top: 7px; width: 91px; height: 26px;" /></case>
                                                          <default /> <img src="{$imgUrl}/buy.png" style="margin-top: 7px; width: 91px; height: 26px;" />
                                                       </switch>

                                                   </a>
                                                </span>
                                            </p>
                                        </li>
                                    </volist>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="row3">
                        <div id="row3_title">
                            <div id="row3_title_img">
                            </div>
                        </div>
                        <div id="row3_list">
                            <ul id="row3_ul">
                                <li>
                                    <div>
                                        <a href="/client/common/New_CZ_Test2.aspx" target="_blank">
                                            <img id="r3_img1" src="{$imgUrl}/127x117图标1.png" alt="在线充值" />
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a href="/CLIENT/common/New_Query.aspx" target="_blank">
                                            <img id="r3_img2" src="{$imgUrl}/117x127图标2.png" alt="查询系统" />
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a href="/CLIENT/common/New_CardBind.aspx" target="_blank">
                                            <img id="r3_img3" src="{$imgUrl}/117x127图标3.png" alt="通卡绑定" />
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a href="/CLIENT/common/New_ChongZhiDan.aspx" target="_blank">
                                            <img id="r3_img4" src="{$imgUrl}/117x127图标4.png" alt="生活缴费" />
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a href="/CarInsurance/CIIndex.aspx" target="_blank">
                                            <img id="r3_img5" src="{$imgUrl}/117x127图标5.png" alt="车险服务" />
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a href="/duizhang/New_VipLogin.aspx" target="_blank">
                                            <img id="r3_imgnew" src="{$imgUrl}/117x127图标6.png" alt="商户对账" />
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div>
                </div>
            </div>
                    <div id="row5">
                        <div id="row5_left">
                            <div id="row5_title1">
                                <div id="pro_title">
                                </div>
                                <volist name="businessTypes" id="businessType" key="key">
                                    <if condition = "$key eq 1">
                                       <div class="pro_head pro_head_hover pro_type" key="{$key}">
                                         <div>{$businessType.name}</div>
                                       </div>
                                           <else/>
                                        <div class="pro_other pro_type" key="{$key}">
                                            <div>{$businessType.name}</div>
                                        </div>
                                    </if>
                                </volist>
                                <div id="pro_more">
                                    <a style="color: Orange;" target="_blank" href="../business/hd_search.aspx?city=1">更多商户&gt;&gt;
                                    </a>
                                </div>
                            </div>
                            <div id="row5_pro">
                                <volist name="businessTypes" id="businessType" key="keyPro">
                                    <if condition="$key eq 0">
                                <div class="store-wrapper show" id="div_p{$keyPro}">
                                    <else/>
                                    <div class="store-wrapper show" id="div_p{$keyPro}" style="display:none;">
                                    </if>
                                    <div class="left">
                                        <div style="width: 258px">
                                            <img width="258" height="191"  id="Img{$keyPro}" src="{$baseUrl}/{$businessType['business'][0]['picture']}"></div>
                                        <!--代码结束-->
                                    </div>

                                    <div class="restaurant right">
                                        <div class="info-title">
                                            <strong>
                                                {$businessType.name}<span class="title02"></span></strong></div>
                                        <ul class="info-list">
                                            <volist name="businessType.business" id="business">
                                            <li><a title="{$business.title}" target="_blank" href="">
                                                {$business.title}</a></li>
                                            </volist>
                                        </ul>
                                    </div>
                                </div>
                                </volist>
                            </div>
                        </div>
                        <div id="row5_right">
                            <div id="row5_title2">
                                <div style="float: right; margin-top: 10px;">
                                    <a target="_blank" href="/client/newsshow/moreNews.aspx?city=1&amp;msgtype=01" style="color: Orange;">更多&gt;&gt;</a></div>
                            </div>
                            <div id="row5_news">
                                <div id="news_list">
                                    <ul id="news_ul">
                                        <volist name="newsList" id="news">
                                        <li><a title="{$news.title}" target="_blank" href="../newsshow/ViewNews.aspx?city=1&amp;msgid=2591"><span class="date">[
                {$news.created_at|strtotime|date="Y-m-d",###}]</span>&nbsp{$news.title}</a></li>
                                        </volist>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div id="row6">
                        <div id="row6_title">
                        </div>
                        <div id="row6_list">
                            <ul id="row6_ul">
                                <volist name="partners" id="partner">
                                    <li>
                                        <div>
                                            <a target="_blank" href="{$partner.url}">
                                                <img alt="{$partner.name}" src="{$baseUrl}/{$partner.picture}" class="r6_img">
                                            </a>
                                        </div>
                                    </li>
                                </volist>
                            </ul>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
</block>
<block name="customJs">
    <script type="text/javascript" src="{$jsUrl}/scroll.js"></script>
    <script type="text/javascript" src="{$jsUrl}/index.js"></script>
    <script>
        var imgUrl = "{$imgUrl}";
        $(function() {
            $("body").on("mouseenter", ".pro_type", function() {
                $(".pro_other").removeClass("pro_other_hover");
                if($(this).hasClass("pro_head")) {
                    $(this).addClass("pro_head_hover");
                }else{
                    $(".pro_head").removeClass("pro_head_hover");
                    $(this).addClass("pro_other_hover");
                }
                var key = $(this).attr("key");
                $(".store-wrapper").hide();
                $("#div_p"+key).show();
            });
        })

    </script>
</block>